@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Speed';
  src: url(./fonts/Speed.otf);
  font-weight: 400;
}
a,
span {
  @apply inline-block;
}
body {
  @apply font-GothamPro text-xs-base font-normal text-white bg-[#090C18] leading-[100%];
}
.container {
  @apply max-w-[1294px] mx-auto;
}

.gold-btn {
  clip-path: polygon(
    4% 0%,
    95% 0%,
    100% 15%,
    100% 80%,
    95% 100%,
    5% 100%,
    0% 90%,
    0% 15%
  );
  @apply md:w-[270px] mx-auto md:h-[65px] w-[186px] h-[43px] bg-gradient-to-b from-[#FD9C00] to-[#FFD301] font-semibold hover:brightness-110 transition flex items-center justify-center text-[#895000] md:text-xl text-sm;
}
.yellow-btn {
  background: linear-gradient(180deg, #fd9c00 0%, #ffd301 100%);
  box-shadow: 0px 3.8px 14.46px 0px #9a2e1b;
  @apply text-base text-[#0A0D1C] flex items-center justify-center px-7 py-3 h-11 rounded-[9px] w-full;
}
.custom-checkbox {
  @apply flex items-center gap-2;
}
.custom-checkbox input {
  display: none;
}
.custom-checkbox label {
  @apply text-[#81818b] relative pl-6 cursor-pointer select-none;
}
.custom-checkbox label::before {
  @apply content-[""] absolute top-1/2 left-0 -translate-y-1/2 w-[15px] h-[15px] border border-[#81808C] rounded-[3px];
}
.custom-checkbox label::after {
  @apply content-[""] absolute top-1/2 left-1 -translate-y-1/2 bg-[url('/images/check-2.svg')] bg-no-repeat w-[7px] h-[6px] opacity-0;
}
.custom-checkbox input:checked + label::before {
  background: linear-gradient(180deg, #fd9c00 0%, #ffd301 100%);
  box-shadow: 0px 3.8px 14.46px 0px #9a2e1b;
  @apply border-transparent;
}
.custom-checkbox input:checked + label::after {
  @apply opacity-100;
}

.custom-scroll::-webkit-scrollbar {
  @apply w-[2px] rounded-md;
}
.custom-scroll::-webkit-scrollbar-thumb {
  @apply bg-[#615FA6] w-[2px] rounded-md;
}

.main-container {
  @apply max-w-[1794px] mx-auto;
}
/* media */
@media (max-width: 1800px) {
  .main-container {
    @apply max-w-[100%] md:px-5 px-[15px];
  }
}
@media (max-width: 1350px) {
  .container {
    @apply max-w-[100%] md:px-5 px-[15px];
  }
}
@media (max-width: 768px) {
  .cheaper-gold-btn {
    @apply w-full h-[46px];
    clip-path: polygon(
      3% 0%,
      97% 0%,
      100% 15%,
      100% 85%,
      97% 100%,
      3% 100%,
      0% 90%,
      0% 15%
    );
  }
}
@media (max-width: 500px) {
  .tooltip {
    width: 100% !important;
    left: 0 !important;
    padding: 24px 13px;
    top: 290px !important;
  }
}
